  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  #viewDiv {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .mapControlsFlexbox {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mapControlsContainer {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
  }

  .header {
    height: 65px;
    width: 100%;
    background-color: #002649;
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
  }

  .testme {
    background-color: red;
  }

  .searchControls {
    height: 50px;
    width: calc(100% - 14px);
    position: absolute;
    top: 10px;
    left: 7px;
    display: flex;
    justify-content: space-between;
  }

  .searchBar {
    height: 45px;
    background-color: rgb(45, 45, 45);    
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    order: 0;
  }

  .searchIcon {
    color: white;
    border-radius: 40px;
    padding-left: 10px;
    width: 10%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .searchIcon:hover {
    animation: hoverIn 0.5s forwards;
  }

  @keyframes hoverIn {
    from {
      background-color: rgb(45, 45, 45);
    }
    to {
      background-color: rgb(65, 65, 65);
    }
  }

  .searchField {
    color: white;
    background-color: rgba(45, 45, 45, 0);  
    margin-right: 35px;  
    border: unset;
    outline: none;
    width: 80%;
  }

  .emptySpace {
    order: 4;
  }

  .mapChartSwitcher {
    border-radius: 40px;
    background-color: rgb(45, 45, 45);    color: white;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
  }

  .countryBar {
    width: 0;
    height: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
  }

  .countryIcon {
    height: 0;
    width: 0;
    opacity: 0;
  }

  .countryText {
    opacity: 0;
    width: 0;
    font-size: 0px;
  }

  .countryMapChartContainer {
    display: flex;
    
  }

  .imfContainer {
    font-weight: 900;
    border-right: 2px solid white;
    padding-right: 5px;
    margin-right: 5px;
  }

  .viewControls {
    height: 155px;
    width: 55px;
    position: absolute;
    bottom: 30px;
    right: 7px;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    row-gap: 9px;
  }

  .viewButtons {
    font-family: "Inter", sans-serif;
    background-color: rgb(45, 45, 45);    color: white;
    border-radius: 70px;
    height: 45px;
    width: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
  }
    .dataControls {
    position: absolute;
    height: 35px;
    width: 170px;
    left: 7px;
    bottom: 30px;
    border-radius: 30px;
    background-color: rgb(45, 45, 45);    color: rgb(238, 238, 238);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .imfLogo {
    border-right: solid 1px rgb(65, 65, 65);
    color: white;
    padding-right: 15px;
    font-weight: 900;
    font-size: 18px;
    height: 70%;
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    cursor: default;
  }

  .fontawesome25px {
    width: 25px;
    cursor: pointer;
  }

  .topRow {
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .blank {
    height: 100%;
    width: 50%;
  }

  .dimensions {
    height: 100%;
    width: 40%;
    max-width: 175px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    font-weight: 800;
    background-color: white;
    box-shadow: 0px 4px 20px 0px #0000002E;
  }

  .mapDimensions {
    font-size: 16px;
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .granularity {
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .bottomRow {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .scenariosPillContainer {
    background-color: white;
    box-shadow: 0px 4px 20px 0px #0000002E;
    width: 50%;
    height: 100%;
    border-radius: 50px;
  }

  .scenarios {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
  }

  .scenarioButton {
    background-color: #DEDEDE;
    font-weight: 600;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 20px;
  }

  .riskLevelContainer {
    background-color: white;
    box-shadow: 0px 4px 20px 0px #0000002E;
    width: 40%;
    max-width: 175px;
    height: 55%;
  }

  .gradientTitleContainer {
    font-size: 10px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .gradientContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12px;
  }

  .riskGradient {
    background: linear-gradient(90deg, #FEE130 0%, #CD6F8F 100%);
    width: 90%;
    height: 7px;
  }

  @media screen and (min-width: 800px) {

    .countryBar {
      width: 120px;
      height: unset;
      display: flex;
      justify-content: start;
      align-items: center;
      color: white;
      background-color: rgb(45, 45, 45);
      border-radius: 40px;
      height: 45px;
      padding-left: 20px;
      margin-right: 12px;
    }

    .countryText {
      font-weight: 900;
      font-size: unset;
      padding-left: 12px;
      opacity: unset;
      width: unset;
    }

    .countryIcon {
      height: unset;
      width: unset;
      opacity: 1;
    }

    .searchControls {
      /* grid-template-columns: 1fr 1fr 150px 50px; */
    }

    .searchIcon {
      width: 50px;
      padding-left: unset;
    }

    .searchField {
      width: 90%;
    }

    .emptySpace {
    order: unset;
  }
  }