  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  :root {
    --blackGlass: rgba(8, 8, 8, 0.5);
    --glass: rgba(29, 29, 29, 0.7);
    --fundBlue: #004C97;
    --emptyShade: #FFFFFF;
    --black: #000000;
    --darkBlue: #001E60;
    --mediumBlue: #0375BD;
    --lightBlue: #009CDE;
    --lightGray: #B1B3B3;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(29 34 36);
    outline: none;
  }

  #viewDiv {
    height: 100%;
    z-index: 0;
    background-color: rgb(29 34 36);
  }

  #sceneDiv {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgb(29 34 36);
    z-index: -10;
  }

  .mapControlsFlexbox {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mapControlsContainer {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
  }

  .chartMapDivContainer {
    height: 40.8px;
    width: 160px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 15px;
    border-radius: 10px;
  }

  .chartMapDiv {
    width: 80px;
    color: var(--black);
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
    background-color: var(--emptyShade);
  }

  .mapDiv {
    height: 100%;
    padding-right: 7px;
    padding-left: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .chartDiv {    
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 8px;
    padding-right: 10px;
  }

  .defaultSelectedButton {
    background-color: var(--mediumBlue);
    color: var(--emptyShade);
  }

  .selectedButton {
    animation: animateButtonSelection 0.1s ease-in forwards;
  }

  .removeSelectedButton {
    animation: removeAnimateButtonSelection 0.1s ease-in forwards;
  }

  @keyframes animateButtonSelection {
    from{
    background-color: var(--emptyShade);
    color: black;
    }
    to {
      background-color: var(--mediumBlue);
      color: white;
    }
  }

    @keyframes removeAnimateButtonSelection {
    from{
      background-color: var(--mediumBlue);
      color: white;
    }
    to {
      background-color: var(--fundBlue);
      color: black;
    }
  }

  .header {
    height: 51px;
    width: 100%;
    background-color: var(--fundBlue);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
  }

  .header2 {
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--emptyShade);
    z-index: 6;
    position: absolute;
    top: 61px;
  }

  .searchIcon {
    height: 0;
  }

  .searchIcon:hover {
    animation: hoverIn 0.5s forwards;
    border-radius: 40px;
  }

  @keyframes hoverIn {
    from {
      background-color: var(--emptyShade);
    }
    to {
      background-color: var(--lightGray);
    }
  }

  .searchField {
    font-size: 16px;
    color: white;
    background-color: rgba(45, 45, 45, 0);  
    margin-right: 35px;  
    border: unset;
    outline: none;
    width: 80%;
  }

  .emptySpace {
    width: 100%;
  }

  .largeWidthSearchBar {
    backdrop-filter: saturate(180%) blur(20px); 
    background-color: var(--glass);
    height: 40.8px;
    width: 75%;
    border-radius: 10px;
    padding-right: 10px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
  }

  .largeWidthSearchIcon {
    color: white;
  }

  .largeWidthSearchField {
    background-color: rgba(255, 0, 0, 0);
    background: transparent;
    font-size: 16px;
    color: white;
    margin-left:10px;
    margin-right: 35px;  
    border: unset;
    outline: none;
    width: 80%;
    height: 100%;
  }

  .countryListContainer {
    position: fixed;
    top: 45px;
    width: 100%;
    z-index: 6;
    display: flex;
    justify-content: flex-end;

  }

  .countryList {
    /* 42.8 */
    height: 300px;
    width: 50px;
    margin-right: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    backdrop-filter: saturate(180%) blur(20px); 
    background-color: red;
  }

  .smallWidthSearchBar {
    background-color: var(--emptyShade);
    height: 40.8px;
    width: 75%;
    border-radius: 10px;
    padding-right: 10px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
    overflow: hidden;
  }

  .smallWidthSearchIcon {
    color: var(--black);
    padding-left: 10px;
  }

  .smallWidthSearchField {
    background-color: rgba(255, 0, 0, 0);
    background: transparent;
    font-size: 16px;
    color: var(--black);
    margin-left:10px;
    margin-right: 35px;  
    border: unset;
    outline: none;
    width: 80%;
    height: 100%;
  }

  .countryIcon {
    height: 0;
    width: 0;
    opacity: 0;
  }

  .countryText {
    opacity: 0;
    width: 0;
    font-size: 0px;
  }

  .countryMapChartContainer {
    display: flex;
  }

  .imfContainer {
    font-weight: 900;
    border-right: 2px solid white;
    padding-right: 5px;
    margin-right: 5px;
  }

  .viewControlsContainer {
    position: fixed;
    top: 135px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    gap: 10px;
  }

  .viewControls {
    height: 135px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--emptyShade);
    border-radius: 10px;
  }

  .dimensionControls {
    height: 45px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--emptyShade);
    border-radius: 10px;
  }

  .zoomControls {
    height: 90px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--emptyShade);
    border-radius: 10px;
  }

  .viewButtons {
    font-family: "Inter", sans-serif;
    color: var(--black);
    height: 45px;
    width: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
  }
    .dataControls {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    height: 55px;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 5;
  }

  .dataButtonContainer {
    display: flex;
    flex-direction: column;
    cursor: pointer;
 }

  .dataIconContainer {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dataName {
    padding-top: 4px;
    font-size: 12px;
  }

  .scenarioDiv {
    pointer-events: none;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    bottom: 55px;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 75px;
  }

  .scenario {
    color: black;
    background-color: var(--lightGray);
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
    height: 36px;
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00000000;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
  }

  .activeScenario {
    animation: animateActiveScenario 0.1s ease-in forwards;
  }

  @keyframes animateActiveScenario {
    from {
      background-color: var(--lightGray);
      color: var(--black);
    }
    to {
      background-color: var(--darkBlue);
      color: var(--emptyShade);
    }
  }

  .sliderThumbLabel {
    font-size: 20px;
    font-weight: 600;
    height: 75px;
    width: 20%;
    left: 0;
    z-index: 2;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
  }

  #sliderDiv {
    height: 35px;
    width: 70%;
    color: white;
    z-index: 2;
    background: transparent;
  }

  .dataOptionsContainer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 69px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: var(--emptyShade);
    z-index: 1;
    display: flex;
    align-items: start;
  }

  .sliderControls {
    position: absolute;
    bottom: 55px;
    z-index: 3;
    height: 75px;
    width: 100%;
    display: flex;
    pointer-events: none;
    opacity: 0;
  }

  .esri-slider__tick-label {
    color: black;
  }

  .esri-slider__segment, .esri-slider__segment-1 {
    background-color: white;
  }

  .esri-slider__tick {
    margin-top: -10px;
    background-color: var(--lightGray);
  }

  .esri-slider--horizontal .esri-slider__tick {
    height: 8px;
  }

  .esri-attribution {
    background: transparent;
  }

  .esri-view {
    --esri-view-outline: 0px solid rgba(0,0,0,0);
  }

  .animateDataControls {
      animation: revealDataOption 0.1s forwards;
  }

  .hideDataControls {
      animation: hideDataOption 0.3s forwards;
  }

  .removeDataControlsAfterAnimate {
    animation: removeDataAfterAnimate 0.5s forwards;
  }

  .removeDataControlsWithoutAnimate {
    animation: removeDataWithoutAnimate 0.5s forwards;
  }

      @keyframes removeDataAfterAnimate {
        from {
          opacity: 1;
          height: 140px;
        }
        to {
          opacity: 0;
          height: 140px;
        }
      }

      @keyframes removeDataWithoutAnimate {
        from {
          opacity: 1;
          height: 69px;
        }
        to {
          opacity: 0;
          height: 69px;
        }
      }

      @keyframes revealDataOption {
      from {
         height: 69px;
      }
      to {
          height: 140px;
      }
    }

      @keyframes hideDataOption {
      from {
          height: 140px;
      }
      to {
         height: 69px;
      }
    }

  .fadeDataButtons {
    animation: 0.1s linear fadeDataButtons forwards; 
  }

  .unfadeDataButtons {
    animation: 0.1s linear unfadeDataButtons forwards;
    }

  @keyframes fadeDataButtons {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes unfadeDataButtons {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .imfLogo {
    color: white;
    width: 70px;
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 18px;
    height: 70%;
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    cursor: default;
  }

  .fontawesome25px {
    width: 25px;
    cursor: pointer;
  }

  .topRow {
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .blank {
    height: 100%;
    width: 50%;
  }

  .dimensions {
    height: 100%;
    width: 40%;
    max-width: 175px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    font-weight: 800;
    background-color: white;
    box-shadow: 0px 4px 20px 0px #0000002E;
  }

  .mapDimensions {
    font-size: 16px;
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .granularity {
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .bottomRow {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }



  .riskLevelContainer {
    background-color: white;
    box-shadow: 0px 4px 20px 0px #0000002E;
    width: 40%;
    max-width: 175px;
    height: 55%;
  }

  /* .gradientTitleContainer {
    font-size: 10px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: start;
  } */
/* 
  .gradientContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12px;
  } */

  .riskGradient {
    background: linear-gradient(90deg, #FEE130 0%, #CD6F8F 100%);
    width: 90%;
    height: 7px;
  }

  .countrySelector {
    all: unset;
    font-size: 0px;
  }

  .title {
    color: white;
    width: 300px;
    display: flex;
    justify-content: start;
    font-weight: 700;
    font-size: 18px;
    height: 70%;
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    cursor: default;
    border-left: 2px solid white;
    padding-left: 10px;
    margin-left: 2px;
  }

  .sidebarButton {
    color: white;
    margin-left: 15px;
    margin-right: 10px;
    cursor: pointer;
  }

  .sidebar {
    position: absolute;
    top: 59px;
    height: calc(100% - 59px);
    width: 100%;
    z-index: 5;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .defaultSidebar {
    transform: translateX(-100vw);
  }

  .enableSidebar {
    animation: enableSidebarAnimation 0.3s forwards;
  }

  .disableSidebar {
    animation: disableSidebarAnimation 0.3s forwards;
  }

  @keyframes enableSidebarAnimation {
    from {
      transform: translateX(-100vw);
    }
    to {
      transform: translateX(0%);
    }
  }

  @keyframes disableSidebarAnimation {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100vw);
    }
  }

  .disableDataControls {
    animation: disableDataControlsAnimation 0.3s ease-in forwards;
   }

  .enableDataControls {
    animation: enableDataControlsAnimation 0.3s ease-out forwards;
  }

  @keyframes disableDataControlsAnimation {
    from {
      opacity: 1;
      pointer-events: auto;
    }
    to {
      opacity: 0;
      pointer-events: none;
    }
  }

  @keyframes enableDataControlsAnimation {
    from {
      opacity: 0;
      pointer-events: none;
    }
    to {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .riskFactorTitleContainer {
    display: flex;
  }

  .riskFactorTitle {
    height: 50px;
    width: 100%;
    color: var(--black);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--lightGray);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: default;
  }

  .exitSidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--lightGray);
    padding-right: 15px;
    cursor: pointer;
  }

  .riskFactorChoiceContainer {
    height: 50px;
    width: 100%;
    color: var(--black);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--lightGray);
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .riskFactorChoiceNest {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }

  .riskFactorChoiceIcon {
    padding-left: 15px;
  }

  .riskFactorChoiceProceed {
    padding-right: 15px;
    cursor: pointer;
  }

  .removeOutline {
    -webkit-tap-highlight-color: transparent;
  }

  .hazardsSidebar {
    position: absolute;
    top: 59px;
    height: calc(100% - 59px);
    width: 100%;
    z-index: 6;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  
  .hazardsTitleContainer {
    display: flex;
    border-bottom: 1px solid var(--lightGray);
  }

  .hazardsTitle {
    height: 50px;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: default;
  }

  .exitHazards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    cursor: pointer;
  }

  .hazardsChoiceContainer {
    height: 50px;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--lightGray);
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .hazardsChoiceNest {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding-left: 15px;
  }

  .exposuresSidebar {
    position: absolute;
    top: 59px;
    height: calc(100% - 59px);
    width: 100%;
    z-index: 6;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .exposuresTitleContainer {
    display: flex;
    border-bottom: 1px solid var(--lightGray);
  }

  .exposuresTitle {
    height: 50px;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: default;
  }

  .exitExposures {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    cursor: pointer;
  }

  .exposuresChoiceContainer {
    height: 50px;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--lightGray);
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .exposuresChoiceNest {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding-left: 15px;
  }

  .headerSection1 {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 380px;
  }

  .headerSection2 {
    display: flex;
    justify-content: flex-end;
    width: 650px;
    margin-right: 15px;
  }

  .searchSidebar {
    position: absolute;
    top: 59px;
    height: calc(100% - 59px);
    width: 100%;
    z-index: 6;
    background-color: var(--emptyShade);
    color: var(--black);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;   
  }

  .searchSidebarTitle {
    height: 50px;
    width: 100%;
    color: var(--black);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: default;
  }

  .exitSearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    margin-left: 15px;
    cursor: pointer;
  }

  .searchBarSearchField {
    background-color: rgba(255, 0, 0, 0);
    background: transparent;
    font-size: 16px;
    color: black;
    margin-left: 10px;
    margin-right: 35px;  
    border: unset;
    outline: none;
    width: 100%;
    height: 100%;
  }

  .searchBarSearchField::placeholder {
    color: var(--lightGray);
  }

  .searchBarSearchFieldContainer {
    display: flex;
    color: white;
    margin-left: 10px;
    width: 100%;
  }

  .searchBarSearchIcon {
    color: var(--lightGray);
  }

  .countryResultsContainer {
    padding-top: 30px;
  }

  .countryResultsTitle {
    color: var(--black);
    font-size: 18px;
    font-weight: 700;
    margin-left: 15px;
  }

  .countryResults {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .countryResultsBorder {
    border-radius: 15px;
    border: 1px solid var(--lightGray);
    height: 500px;
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-top: 15px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }

  .countryStyle {
    font-size: 16px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    color: var(--black);
  }

  .countryStyle:hover {
    animation: hoverIn 0.5s forwards;
  }

  .searchButtonContainer {
    display: none;
  }

  .lgSidebar {
    display: none;
  }

  .hoverSidebar {
    display: none;
  }

  .hoverOptions {
    display: none;
  }

  .lgDataControls {
    display: none;
  }

  .esri-slider__segment, .esri-slider__segment-1 {
    background-color: var(--lightGray) !important;
  }

  .smallSidebarIcon {
    width: 27px;
  }

  .searchBar {
    display: flex;
    border: 1px solid var(--lightGray);
    color: var(--black);
    height: 50px;
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
    align-items: center;
  }

  .chartView {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: -1;
    opacity: 0;
  }

  .presentView {
    animation: presentView 0.4s ease forwards;
  }

  @keyframes presentView {
    0% {
      z-index: -1;
      opacity: 0;
      }
    1% {
      z-index: 10;
    }
    100% {
      opacity: 1;
      z-index: 10;
    }
  }

  .concealView {
    animation: concealView 0.4s ease forwards;
  }

  @keyframes concealView {
    0% {
      z-index: 10;
      opacity: 1;
    }
    100% {
      z-index: -1;
      opacity: 0;
      }
  }

  .chartSearchTitleContainer {
    width: 100%;
    position: relative;
    top: 90px;
    display: flex;
    justify-content: center;
  }

  .chartSearchTitle {
    font-size: 20px;
    font-weight: 600;
    color: black;
    width: 90%;
  }

  .chartSearchContainer {
    height: 25px;
    width: 100%;
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
  }

  .chartSearch {
    width: 90%;
    height: 30px;
    border: 1px solid var(--lightGray);
    border-radius: 5px;
  }

  #chartMapInstanceContainer {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 200px;
  }

  .chartMapInstance {
    height: 100%;
    width: 90%;
  }

  @media screen and (min-width: 900px) {
    .sidebar, .hazardsSidebar, .exposuresSidebar {
      display: none
    }

    .dataControls {
      display: none;
    }

    .dataOptionsContainer {
      display: none;
    }

    .lgDataControlsContainer {
      width: 100%;
      height: 60px;
      position: absolute;
      bottom: 15px;
      z-index: 4;
      display: flex;
      justify-content: center;
    }

    .lgDataControls {
      height: 100%;
      width: 100%;
      max-width: 800px;
      background-color: var(--emptyShade);
      border-radius: 25px;
      display: flex;
      margin-left: 70px;
      border: 1px solid var(--lightGray);
      box-shadow: 0px 4px 20px 0px #0000002E;
    }

    .lgScenarioDiv {
      display: flex;
      align-items: center;
      gap: 10px;
      padding-left: 15px;
      padding-right: 20px;
      border-right: 2px solid var(--lightGray);
    }

    .lgTimelineDiv {
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;


    }

    #lgSliderDiv {
      background: transparent;
      color: var(--black);
      font-weight: 700;
    }

    .esri-slider--horizontal .esri-slider__tick-label {
      margin-top: -30px;
    }

    .esri-slider__tick {
      margin-top: -15px;
      background-color: var(--lightGray);
    }

    .esri-slider__content {
      margin-bottom: 20px;
    }

    .scenario {
      height: 30px;
    }

    .header2 {
      display: none;
    }

    @keyframes growLgSidebar {
      from {
        width: 70px;
      }
      to {
        width: 350px;
      }
    }

    .growLgSidebar {
      animation: growLgSidebar 0.3s ease forwards;
    }

    @keyframes shrinkLgSidebar {
      from {
        width: 350px;
      }
      to {
        width: 70px;
      }
    }

    .shrinkLgSidebar {
      animation: shrinkLgSidebar 0.3s ease forwards;
    }

    .lgSidebar {
      top: 59px;
      height: calc(100% - 59px);
      position: absolute;
      background-color: var(--emptyShade);
      z-index: 10;
      color: var(--black);
      display: flex;
      flex-direction: row;
      overflow: hidden;
      gap: 0px;
    }

    @keyframes revealDataSidebar {
      from {
        left: -295px;
      }
      to {
        left: 0px;
      }
    }

    .revealDataSidebar {
      animation: revealDataSidebar 0.3s ease forwards;
    }

    @keyframes concealDataSidebar {
      from {
        left: 0px;
      }
      to {
        left: -350px;
      }
    }

    .concealDataSidebar {
      animation: concealDataSidebar 0.3s ease forwards;
    }

    

    #dataSidebar {
      left: -350px;
      width: 280px;
      flex-direction: column;
      padding-left: 70px;
    }

    #dataSidebarTitle {
      justify-content: flex-start;
    }

    .closeMenu {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .lgSidebarRow {
      display: flex;
      justify-content: flex-start;
    }

    .row1 {
      padding-left: 15px;
    }

    .row2 {
      border-top: 1px solid rgb(60, 60, 60);
      gap: 10px;
    }

    .lgSidebarCol {
      display: flex;
      flex-direction: column;
    }

    #col1 {
      width: 70px;
      align-items: center;
    }

    #col2 {
      align-items: flex-start;
      width: 0px;
    }

    .lgSidebarTitle {
      font-weight: 800;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
      width: 100%;
    }

    .lgSidebarElement {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .lgSidebarText {
      width: 250px;
    }

    .padIconRight {
      padding-right: 15px;
    }

    @keyframes revealHoverMenu {
      from {
        width: 0px;
      }
      to {
        width: 300px;
      }
    }

    .revealHoverMenu {
      animation: revealHoverMenu 0.3s ease-in forwards;
    }

    @keyframes concealHoverMenu {
      from {
        width: 300px;
      }
      to {
        width: 0px;
      }
    }

    .concealHoverMenu {
      animation: concealHoverMenu 0.3s ease-in forwards;
    }

    .hoverSidebar {
      height: 100%;
      top: 59px;
      left: 80px;
      width: 0px;
      position: absolute;
      backdrop-filter: saturate(180%) blur(20px); 
      background-color: var(--blackGlass);
      z-index: 5;
      height: calc(100% - 59px);
      display: flex;
      overflow: hidden;
    }

    .hoverSection1 {
      width: 250px
    }

    .hoverSection2 {
      width: 50px;
    }

    .hoverEmptySpace {
      height: 70px;
      width: 100%;
      border-bottom: 1px solid rgb(60, 60, 60);
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }

    .hoverChoiceContainer {
      height: 70px;
      width: 100%;
      color: white;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--lightGray);
    }

    .hoverElement {
      color: white;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 70px;
      gap: 20px;
      cursor: pointer;
      user-select: none;
    }

    @keyframes revealHoverOptions {
      from {
        transform: translateX(-380px);
      }
      to {
        transform: translateX(80px);
      }
    }

    .revealHoverOptions {
      animation: revealHoverOptions 0.3s ease-in forwards;
    }

    @keyframes concealHoverOptions {
      from {
        transform: translateX(80px);
      }
      to {
        transform: translateX(-380px);
      }
    }

    .concealHoverOptions {
      animation: concealHoverOptions 0.3s ease-in forwards;
    }

   .hoverOptions {
      height: 100%;
      top: 59px;
      left: 80px;
      width: 300px;
      transform: translateX(-380px);
      position: absolute;
      backdrop-filter: saturate(180%) blur(20px); 
      background-color: var(--blackGlass);
      z-index: 5;
      height: calc(100% - 59px);
      display: flex;
      overflow: hidden;
    }

    .hoverTitle {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: white;
      font-weight: 800;
      font-size: 16px;
      border-bottom: 1px solid rgb(60, 60, 60);
      padding-left: 15px;
      user-select: none;
    }

    .sidebar {
      top: 59px;
      height: calc(100% - 59px);
      width: 550px;
    }

    .sidebarButton {
      display: none;
    }

    .hazardsSidebar {
      top: 59px;
      width: 550px;
    }

    .exposuresSidebar {
      top: 59px;
      width: 550px;
    }

    .searchSidebar {
      top: 59px;
      height: calc(100% - 59px);
      width: 550px;
      z-index: 10;
  }

    .searchButtonContainer {
      border-radius: 10px;
      background-color: rgba(100, 100, 100, 0.5);
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      height: 40px;
      width: 80px;
      padding-left: 10px;
      padding-right: 10px;
      cursor: pointer;    
  }

   .searchSidebarTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  }

  @media screen and (max-height: 591px) {
    .viewControlsContainer {
      flex-direction: row;
    }

    .viewControls, .zoomControls {
      flex-direction: row;
      height: 40px;
      width: 135px;
    }

    .dimensionControls {
      height: 40px;
    }
  }

  @media screen and (max-height: 591px) and (min-width: 900px) {

    .viewControlsContainer {
      top: 79px;
    }
  } 

  @media screen and (max-width: 600px) {

    .title {
      font-size: 12px;
    }

    .headerSection1 {
      min-width: 260px;
    }

    .chartMapDivContainer {
      justify-content: flex-end;
    }
  }

  @media screen and (max-width: 500px) {

    .chartMapDiv {
      width: 25px;
    }

    .chartMapText {
      display: none;
    }

    .headerSection2, .chartMapDivContainer {
      width: unset;
    }
  }

  /* needs to be evaluated & removed */
  @media screen and (min-width: 800px) {

    .countryBar {
      width: 120px;
      height: unset;
      display: flex;
      justify-content: start;
      align-items: center;
      color: white;
      background-color: rgb(45, 45, 45);
      border-radius: 40px;
      height: 45px;
      padding-left: 20px;
      margin-right: 12px;
    }

    .countrySelector {
      position: absolute;
      top: 75px;
      right: 7px;
      height: 280px;
      width: 197px;
      background-color: rgb(45, 45, 45);
      border-radius: 30px;
      overflow-y: scroll;
      scrollbar-width: none;
      color: white;
      display: flex;
      flex-direction: column;
      font-size: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      animation: fadeIn 0.1s forwards;
      z-index: 3;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    @keyframes fadeIn {
      from {
          transform: scale(0%)
      }
      to {
          transform: scale(100%)
      }
    }

     @keyframes fadeOut {
      from {
          transform: scale(100%)
      }
      to {
          transform: scale(0%)
      }
    }

    .noCountrySelector {
      position: absolute;
      top: 75px;
      right: 7px;
      height: 280px;
      width: 197px;
      background-color: rgb(45, 45, 45);
      border-radius: 30px;
      overflow-y: scroll;
      scrollbar-width: none;
      color: white;
      display: flex;
      flex-direction: column;
      font-size: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      animation: fadeOut 0.1s forwards;
    }

    .countryText {
      font-weight: 900;
      font-size: unset;
      padding-left: 12px;
      opacity: unset;
      width: unset;
    }

    .countryIcon {
      height: unset;
      width: unset;
      opacity: 1;
    }

    .searchIcon {
      padding-left: unset;
      color: white;
      border-radius: 40px;
      width: 60px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-right: 5px;
    }

    .searchField {
      width: 90%;
    }

    .emptySpace {
    order: unset;
  }
  }