  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(29 34 36);
  }

  #viewDiv {
    height: 100%;
    z-index: 0;
    background-color: rgb(29 34 36);
  }

  #sceneDiv {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgb(29 34 36);
    z-index: -1;
  }

  .mapControlsFlexbox {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mapControlsContainer {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
  }

  .testme {
    background-color: red;
  }

  .chartMapDivContainer {
    height: 100%;
    width: 160px;
    display: flex;
    align-items: center;
    margin-right: 16px;
    padding-left: 10px;
  }

  .chartMapDiv {
    width: 80px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .mapDiv {
    height: 82%;
    background-color: rgb(65, 65, 65);
    padding-left: 10px;
    padding-right: 7px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .chartDiv {    
    height: 82%;
    background-color: rgb(65, 65, 65);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 8px;
    padding-right: 10px;
    border-left: 1px solid rgb(45, 45, 45);
  }

  .selectedButton {
    
  }

  .header {
    height: 50px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(45, 45, 45);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
    z-index: 2;
  }

  .header2 {
    border-top: 1px solid rgb(65, 65, 65);
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(45, 45, 45);
    z-index: 10;
    position: absolute;
    top: 60px;
  }

  .searchBar {
    height: 0;
        visibility: hidden;

  }

  .searchIcon {
    height: 0;
  }

  .searchIcon:hover {
    animation: hoverIn 0.5s forwards;
    border-radius: 40px;
  }

  @keyframes hoverIn {
    from {
      background-color: rgb(45, 45, 45);
    }
    to {
      background-color: rgb(65, 65, 65);
    }
  }

  .searchField {
    font-size: 16px;
    color: white;
    background-color: rgba(45, 45, 45, 0);  
    margin-right: 35px;  
    border: unset;
    outline: none;
    width: 80%;
  }

  .emptySpace {
    order: 4;
  }

  .mapChartContainer {
    width: 65px;
    display: flex;
    justify-content: center;
  }

  .mapChartSwitcher {
    background-color: rgb(45, 45, 45);
    color: white;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .smallWidthSearchBar {
    background-color: rgb(65, 65, 65);
    height: 50px;
    width: 75%;
    height: 32px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    overflow: hidden;
  }

  .smallWidthSearchField {
    background-color: rgb(65, 65, 65);
    font-size: 16px;
    color: white;
    margin-right: 35px;  
    border: unset;
    outline: none;
    width: 80%;
  }

  .countryBar {
    width: 0;
    height: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
  }

  .countryBar:hover {
    animation: hoverIn 0.5s forwards;
  }

  .countryIcon {
    height: 0;
    width: 0;
    opacity: 0;
  }

  .countryText {
    opacity: 0;
    width: 0;
    font-size: 0px;
  }

  .countryMapChartContainer {
    display: flex;
  }

  .imfContainer {
    font-weight: 900;
    border-right: 2px solid white;
    padding-right: 5px;
    margin-right: 5px;
  }

  .viewControls {
    height: 155px;
    width: 55px;
    position: fixed;
    top: 100px;
    right: 7px;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    row-gap: 9px;
    z-index: 2;
  }

  .viewButtons {
    font-family: "Inter", sans-serif;
    background-color: rgb(45, 45, 45);    
    color: white;
    border-radius: 70px;
    height: 45px;
    width: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
  }
    .dataControls {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    height: 55px;
    width: 100%;
    bottom: 0px;
    background-color: rgb(65, 65, 65);    
    color: rgb(238, 238, 238);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 5;
  }

  .dataButtonContainer {
    display: flex;
    flex-direction: column;
    cursor: pointer;
 }

  .dataIconContainer {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dataName {
    padding-top: 4px;
    font-size: 12px;
  }

  .scenarioDiv {
    position: absolute;
    bottom: 0px;
    background-color: rgb(65, 65, 65);
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 75px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .scenario {
    color: white;
    background-color: rgb(85, 85, 85);
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
    height: 36px;
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00000000;
    cursor: pointer;
  }

  .activeScenario {
    border: 1px solid #009CDE;
  }

  .sliderThumbLabel {
    color: white;
    font-size: 20px;
    font-weight: 600;
    position: fixed;
    bottom: 61px;
    height: 75px;
    width: 20%;
    left: 0;
    z-index: 2;
    background-color: rgb(65, 65, 65);
    border-top-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
  }

  #sliderDiv {
    height: 75px;
    width: 70%;
    left: 20%;
    background-color: rgb(65, 65, 65);
    color: white;
  }

  .sliderBackground {
    position: fixed;
    bottom: 61px;
    width: 70%;
    height: 75px;
    left: 20%;
    background-color: rgb(65, 65, 65);
  }

  .sliderEmptySpace {
    height: 75px;
    width: 10%;
    position: fixed;
    bottom: 61px;
    left: 90%;
    z-index: 2;
    background-color: rgb(65, 65, 65);
    border-top-right-radius: 10px;
  }

  .animateDataControls {
      animation: revealDataOption 0.1s forwards;
  }

  .hideDataControls {
      animation: hideDataOption 0.1s forwards;
  }

  .default {

  }

      @keyframes revealDataOption {
      from {
          bottom: 0px
      }
      to {
          bottom: 61px
      }
    }

      @keyframes hideDataOption {
      from {
          bottom: 61px
      }
      to {
          bottom: 0px
      }
    }

  .imfLogo {
    color: white;
    width: 90px;
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 18px;
    height: 70%;
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    cursor: default;
  }

  .fontawesome25px {
    width: 25px;
    cursor: pointer;
  }

  .topRow {
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .blank {
    height: 100%;
    width: 50%;
  }

  .dimensions {
    height: 100%;
    width: 40%;
    max-width: 175px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    font-weight: 800;
    background-color: white;
    box-shadow: 0px 4px 20px 0px #0000002E;
  }

  .mapDimensions {
    font-size: 16px;
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .granularity {
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .bottomRow {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }



  .riskLevelContainer {
    background-color: white;
    box-shadow: 0px 4px 20px 0px #0000002E;
    width: 40%;
    max-width: 175px;
    height: 55%;
  }

  .gradientTitleContainer {
    font-size: 10px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .gradientContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12px;
  }

  .riskGradient {
    background: linear-gradient(90deg, #FEE130 0%, #CD6F8F 100%);
    width: 90%;
    height: 7px;
  }

  .countrySelector {
    all: unset;
    font-size: 0px;
  }

  @media screen and (min-width: 800px) {

    .searchBar {
      height: 32px;
      background-color: rgb(65, 65, 65);    
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      order: 0;
      overflow: hidden;
      visibility: visible;
    }

    .countryBar {
      width: 120px;
      height: unset;
      display: flex;
      justify-content: start;
      align-items: center;
      color: white;
      background-color: rgb(45, 45, 45);
      border-radius: 40px;
      height: 45px;
      padding-left: 20px;
      margin-right: 12px;
    }

    .countrySelector {
      position: absolute;
      top: 75px;
      right: 7px;
      height: 280px;
      width: 197px;
      background-color: rgb(45, 45, 45);
      border-radius: 30px;
      overflow-y: scroll;
      scrollbar-width: none;
      color: white;
      display: flex;
      flex-direction: column;
      font-size: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      animation: fadeIn 0.1s forwards;
      z-index: 3;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    @keyframes fadeIn {
      from {
          transform: scale(0%)
      }
      to {
          transform: scale(100%)
      }
    }

     @keyframes fadeOut {
      from {
          transform: scale(100%)
      }
      to {
          transform: scale(0%)
      }
    }

    .noCountrySelector {
      position: absolute;
      top: 75px;
      right: 7px;
      height: 280px;
      width: 197px;
      background-color: rgb(45, 45, 45);
      border-radius: 30px;
      overflow-y: scroll;
      scrollbar-width: none;
      color: white;
      display: flex;
      flex-direction: column;
      font-size: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      animation: fadeOut 0.1s forwards;
    }

    .countryStyle {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 8px;
      padding-bottom: 8px;
      cursor: pointer;
    }

    .countryStyle:hover {
      animation: hoverIn 0.5s forwards;
    }

    .countryText {
      font-weight: 900;
      font-size: unset;
      padding-left: 12px;
      opacity: unset;
      width: unset;
    }

    .countryIcon {
      height: unset;
      width: unset;
      opacity: 1;
    }

    .searchIcon {
      padding-left: unset;
      color: white;
      border-radius: 40px;
      width: 60px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-right: 5px;
    }

    .searchField {
      width: 90%;
    }

    .emptySpace {
    order: unset;
  }
  }